.cardContainer{
    display: flex;
    flex-direction: column;
    /* width: 25%; */
    background-color: white;
    padding: 5px 10px 15px 10px;
    height: 400px;
    margin-bottom: 25px;
    border-radius: 10px;
   
   
}
.title{
    display: flex;
    width: 250px;
    justify-content: center;
    font-size: 20px;
    color: white;
    text-decoration: none;
    outline: none;
    background-color: #fbc900;
    border-radius: 10px;
    margin-bottom: 10px;
    min-height: 50px;
    align-items: center;
    text-align: center;
}

.title:hover{
    display: flex;
    width: 250px;
    justify-content: center;
    font-size: 20px;
    color: white;
    text-decoration: none;
    outline: none;
    background-color: #f9a004;
    border-radius: 10px;
    margin-bottom: 10px;
    min-height: 50px;
    align-items: center;
    
}

.link{
    text-decoration: none;
}


.img {
    min-height: 200px;
    width: 250px;
    border-radius: 10px;
    position: relative;
}

.description {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
}

.containerIconH{
    display: flex;
}

.iconH{
    height: 37px;
    transform: scaleX(1);
}

.containerIconW{
    display: flex;
}

.iconW{
    height: 40px;
}

.containerIconLife{
    display: flex;
}

.iconLife{
    height: 40px;
}
