.paginationContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 30px;
}

.button {
    color: white;
    font-weight: bold;
    background-color: #fbb900;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.button:disabled{
    background-color: lightgrey;
    cursor: no-drop;
}

.input{
    margin: 5px;
    width: 30px;
    text-align: center;
    height: 20px;
    display: flex;
    align-self: center;
    outline: none;
}

.input::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }



.p{
    font-size: 15px;
    position: relative;
    right: 3px;
    font-weight: bold;
    color: grey;
}