.background {
  height: 100vh;
  width: 100%;
}

.title {
  z-index: 1;
  font-size: 60px;
  position: relative;
  left: 50px;
  padding-top: 120px;
  color: white;
  text-shadow: -2px 0 #111827, 0 -2px #111827, 2px 0 #111827, 0 2px #111827, 2px 2px #111827, -2px -2px #111827, -2px 2px #111827, 2px -2px #111827, 6px 6px #fcb900;
  top: 40px;
}

.title2{
  color: black;
  z-index: 1;
  margin-top: -20px;
  font-size: 60px;
  position: relative;
  left: 85px;
  top: 40px;
}


.button{
  padding: 10px 15px 10px 15px;
  position: relative;
  left: 260px;
  font-size: 25px;
  background-color: #fcb900;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  color: white;
  top: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;

} 

.button:hover{
  padding: 12px 17px 12px 17px;
  position: relative;
  left: 260px;
  font-size: 25px;
  background-color: #f9a004;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  color: white;
  top: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
}


.bubble {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M822 688q-22 188-208 157.5T299.5 737q-128.5-78-120-232.5t116-291.5Q403 76 593 111t220.5 212Q844 500 822 688Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22%23ffb900%22 d=%22M822 688q-22 188-208 157.5T299.5 737q-128.5-78-120-232.5t116-291.5Q403 76 593 111t220.5 212Q844 500 822 688Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  position: absolute;
  left: 450px;
  top: 0;
  z-index: -1;
}


.img {
  position: relative;
  z-index: 1;
  transform: scaleX(-1);
  position: relative;
  left: 650px;
  bottom: 300px;
  width: 600px;
  height: 600px;
}
