.formpageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.title{
    font-size: 50px;
    position: relative;
    color: white;
    text-shadow: -2px 0 #111827, 0 -2px #111827, 2px 0 #111827, 0 2px #111827, 2px 2px #111827, -2px -2px #111827, -2px 2px #111827, 2px -2px #111827, 6px 6px #fcb900;   
}

.cardContainer{
    display: flex;
    flex-direction: row;
}

.right{
   
    display: flex;
    flex-direction: row;
    position: relative;
    left: 190px;
    height: 550px;
    bottom: 30px;
}

.left{
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: relative;
    right: 340px;
    align-items: center;
    background-color: white;
    border: 2px solid orange;
    border-radius: 20px;
    width: 350px;
    top: 10px;
    height: 500px;
}

.button {
    display: flex;
    position: relative;
    margin-bottom: 50px;
    border: none;
    color: white;
    background-color: #fbb900;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.button:disabled{
    cursor: no-drop;
    background-color: lightgrey;
}

.text {
    font-size: 20px;
    width: 300px;
    display: flex;
    color: black;
}


.inputLarge{
    width: -webkit-fill-available;
    border-radius: 3px;
    border: 1px solid black;
    height: 20px;
}

.inputSmall{
    width: 100px;
    border: 1px solid;
    border-radius: 3px;
    height: 20px;
}

.inputLeft{
    width: 100px;
    border: 1px solid;
    border-radius: 3px;
    height: 20px;
    position: relative;
    left: 20px;
}
